@import 'variables';

.parts {
  padding: 20px;
  background-color: $secondary;

  &__title {
    margin-bottom: 20px;
  }

  &__label {
    font-size: 14px;
  }
}

.parts-form {
  &__input {
    margin-right: 10px;
  }
}
