.buttons {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button {
  font-weight: 400;
  opacity: 0.7;

  &--active {
    opacity: 1;
    font-weight: 600;
  }
}
